// PRIMARY COLORS
$bg-prim-clr-white: #fff;
$bg-prim-clr-beige: #fbf8f0;
$bg-prim-clr-green: #deded2;
$bg-prim-clr-pink: #d4b2a7;
$bg-prim-clr-heading: #cdbdc2;
// SECONDARY COLORS
$prim-cta-btn: #a68376;
$sec-cta-btn: #b7b4b4;
$prim-heading: #deded2;
$sec-heading: #4d4d4d;
$sec-heading: #a68376;
$sec-accent-color: #816c59;
// FONT HEADINGS SIZE PHONE
$mob-heading-b: 34px;
$mob-heading-m: 24px;
$mob-heading-s: 20px;
$mob-heading-xs: 18px;
$mob-heading-xxs: 14px;
// FONT BODY SIZE PHONE
$mob-body-m: 12px;
// FONT HEADINGS SIZE DESKTIOP
$desk-heading-b: 56px;
$desk-heading-m: 48px;
$desk-heading-s: 40px;
$desk-heading-xs: 24px;
$desk-heading-xxs: 14px;
// FONT BODY SIZE DESKTIOP
$desk-body-xb: 24px;
$desk-body-b: 20px;
$desk-body-m: 18px;
$desk-body-s: 14px;
