@import "./variables.scss";
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 0 1rem;
}
.burgerMenu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  width: 30px;
  height: 50px;
  cursor: pointer;
  // position: fixed;
  // right: 5%;
  // margin-left: auto;
  z-index: 200;
}

.burgerBar {
  width: 100%;
  height: 2px;
  background-color: #000000;
  transition: transform 0.3s ease-in-out;
}

.open:nth-child(1) {
  transform: translateY(5px) rotate(45deg);
}

.open:nth-child(2) {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.open:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.navLinks,
.subMenu,
.subSubMenu {
  position: absolute;
  top: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  height: calc(100svh);
  height: calc(100vh);
  width: 100svw;
  width: 100vw;
  background-color: $bg-prim-clr-white;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem 2rem 1rem;
  gap: 1rem;
  z-index: 10;
}
.navigation {
  box-shadow: rgba(108, 107, 107, 0.192) 2.4px 2.4px 3.2px;
  position: relative;
  background-color: $bg-prim-clr-white;
  // height: 5px;
  width: 100%;
  margin-top: 1rem;
  z-index: 555555555555555;
}
.navigation li {
  position: relative;
  font-size: $mob-heading-xs;
}

.navItem li::before,
.navLinks li::before {
  content: "";
  display: inline-block;
  width: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 25px;
  background-color: $bg-prim-clr-pink;
  margin-right: 0.5rem;
}
.logo {
  align-self: center;
  // padding-bottom: 5rem;

  // position: relative;
}

.subMenuItem,
.subSubMenuItem,
.navItemMain {
  display: flex;
  align-items: center;
}
.navItemMain svg,
.subMenuItem svg,
.subSubMenuItem svg {
  margin-left: auto;
}
.slideIn {
  transform: translateX(0px);
  transition: transform 1s ease-in-out;
}
.slideOut {
  transform: translateX(0px);
  transition: transform 1s ease-in-out;
}

.subMenu {
  z-index: 50;
}
.subSubMenu {
  z-index: 100;
}

.subSubMenuParent.active .subSubMenu {
  transition: 1s ease-in-out;
}

.backArrow {
  cursor: pointer;
  color: black;
  display: inline-block;

  position: relative;
  position: absolute;
  top: -2%;
  transform: rotate(180deg);
}
