.burgerMenu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin-left: auto;
  z-index: 200;
}

.burgerBar {
  width: 100%;
  height: 1.5px;
  background-color: #000000;
  transition: transform 0.3s ease-in-out;
}

.open:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.open:nth-child(2) {
  opacity: 0;
  transition: 0.3s ease-in-out;
}

.open:nth-child(3) {
  transform: translateY(-5px) rotate(-45deg);
}

.navLinks,
.subMenu,
.subSubMenu {
  position: absolute;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  height: calc(100svh - 25px);
  height: calc(100vh - 25px);
  width: 100svw;
  width: 100vw;
  background-color: rgb(149, 130, 166);
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem 2rem 1rem;
  gap: 1rem;
  z-index: 10;
}

.navigation li {
  position: relative;
  font-size: 24px;
}

.navItem li::before,
.navLinks li::before {
  content: "";
  display: inline-block;
  width: 2.5px;
  height: 100%;
  color: red;
  background-color: red;
  margin-right: 0.1rem;
}

.subMenuItem,
.subSubMenuItem,
.navItemMain {
  display: flex;
  align-items: center;
}
.navItemMain svg,
.subMenuItem svg,
.subSubMenuItem svg {
  margin-left: auto;
}
.slideIn {
  transform: translateX(0px);
  transition: transform 1s ease-in-out;
}
.slideOut {
  transform: translateX(0px);
  transition: transform 1s ease-in-out;
}

.subMenu {
  z-index: 50;
}
.subSubMenu {
  z-index: 100;
}

.subSubMenuParent.active .subSubMenu {
  transition: 1s ease-in-out;
}

.backButton {
  cursor: pointer;
  color: white;
  display: inline-block;
  margin-top: 5px;
  z-index: 5555;
  position: absolute;
  top: 0;
}
